<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.seralyne.net/coursework/mdsd/ifictiondsl/Ifictiondsl"
			class = "net.seralyne.coursework.mdsd.ifictiondsl.ifictiondsl.IfictiondslPackage"
			genModel = "model/generated/Ifictiondsl.genmodel" />
	</extension>
</plugin>
